
<li id="alert_notificatoin_bar" class="dropdown">
    <a data-toggle="dropdown" href="#">

        <i class="fas fa-envelope"></i>
        <span class="badge bg-important">@ViewBag.messagesCount</span>
    </a>
    <ul class="dropdown-menu extended notification">
        <div class="notify-arrow notify-arrow-blue"></div>
        <li>
            <a href="/Messages/Index"><i class="fas fa-envelope"></i> Yeni Mesajları Gör</a>
        </li>
    </ul>
</li>
