<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="keywords" content="@ViewBag.metaTagInfo.Keywords">
<meta name="author" content="Hasan Erdal">
<meta name="description" content="@ViewBag.metaTagInfo.Description">
<title>@ViewBag.metaTagInfo.Title</title>
